
body {
  color: black;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

#root {
  background-image: url('/preggo/app/client/public/images/background.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

.main-heading {
  font-size: 40px;
}
.secondary-heading {
  font-size: 20px;
}
.photo {
  widows: 300px;
  height: 300px;
}
.paragraph {
  font-size: 14px;
}